name: generate-code
on: [push]
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: node-modules-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            node-modules-${{ runner.os }}-
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm i -g pnpm
      - run: pnpm i
      - name: generate code
        run: |
          cd packages/bff
          pnpm dev &
          pnpm_dev_pid=$!

          wait_count=0
          until `ss -ntl | grep 4000 >/dev/null`; do
            echo "Wait for start server" && sleep 1 && wait_count=`expr ${wait_count} + 1`
            [ ${wait_count} -eq 30 ] && exit 1
          done

          cd ../frontend
          export GRAPHQL_URL_FOR_CODEGEN=http://localhost:4000/graphql
          pnpm gen

          kill ${pnpm_dev_pid}
      - uses: actions/upload-artifact@v2
        with:
          name: generated-code
          path: |
            packages/bff/src/resolvers/_generated.ts
            packages/frontend/src/hooks/api/_generated_gql_codes.ts
            packages/frontend/src/libs/$path.ts
            packages/frontend/src/test_utils/mocks/_generated_gql_mocks.ts
            packages/frontend/src/libs/urql/_generated_gql_schema_json.ts
